# Docker Compose 실행 전 이 파일을 .env로 복사하세요.
# cp .env.example .env

# 애플리케이션
PROJECT_NAME=discodeit
PROJECT_VERSION=1.2-M8
JVM_OPTS=-Xms200m -Xmx400m
SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=80
ADMIN_USER_NAME=change-me
ADMIN_USER_PASSWORD=change-me
ADMIN_USER_EMAIL=admin@discodeit.local
REMEMBER_ME_KEY=change-me

# 데이터베이스
POSTGRES_HOST_PORT=5434
DB_HOST=postgres
DB_PORT=5432
DB_NAME=discodeit
DB_USERNAME=discodeit_user
DB_PASSWORD=change-me

# 파일 저장소
STORAGE_TYPE=local
STORAGE_LOCAL_ROOT_PATH=.discodeit/storage
AWS_S3_REGION=ap-northeast-2
AWS_S3_BUCKET=your-s3-bucket-name
AWS_S3_PRESIGNED_URL_EXPIRATION=600

# 공통 설정
TZ=Asia/Seoul
