POSTGRES_DB=discodeit
POSTGRES_USER=discodeit_user
POSTGRES_PASSWORD=your_local_db_password

STORAGE_TYPE=local
STORAGE_LOCAL_ROOT_PATH=.discodeit/storage

AWS_PROFILE=discodeit
AWS_S3_REGION=ap-northeast-2
AWS_S3_BUCKET=discodeit-binary-content-storage-kjw-1101
AWS_S3_PRESIGNED_URL_EXPIRATION=600